@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* possibly create a dark theme if have enough time */

* {
    /* setting both to 0 so there is no margin outside flex boxes */
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Ubuntu Mono',
    monospace;
}

html {
    /* keep an eye on these */
    width: 100%;
    height: 100%;

    /* remove later */
    background-color: whitesmoke;
}

.main-flex-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    /* margin: 0 auto; */

    border: 1px solid green;
    border-radius: 3px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 10%;
    margin: 0;
    border: 1px solid red;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 100%;


    border: 1px solid blue;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: 100%;

    margin-left: 15px;

    border: 1px solid blue;
}

.resume-a-tag {
    text-decoration: none;
    color:black;
    cursor: pointer;

    padding-left: 5px;
    padding-right: 5px;

}

.burger-name-flex-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 50%;
    height: 100%;

    /* to see where the box ends? */
    margin-left: 10px;

    border: 1px solid blue;
}

.burger-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* text-decoration: underline; */
    
    font-size: 23px;

    width: 35%;
    height: 100%;

    border: 1px solid magenta;
}

.burger-container {

    display: none;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 95%;
    width: 7%;

    margin-right: 0px;

    border: 1px solid black;
}

.burger-svg {
    display: flex;
    cursor: pointer;
    background-repeat: no-repeat;
    content: url(icons8-menu.svg);
    /* content: url(icons8-close.svg); */

    width: 50px;
    height: 40px;

    border: 1px solid purple;
}

.burger-svg-close {
    display: flex;
    cursor: pointer;
    background-repeat: no-repeat;
    content: url(icons8-close.svg);

    width: 50px;
    height: 40px;

    border: 1px solid purple;
}



/* .burger-svg:hover {
    opacity: 0.33;
} */

.burger-bar-ol {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: transparent;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;

    border: 1px solid red;
}

.resume-link-burger-bar {
    text-decoration: underline;
    color: black;
    cursor: pointer;

    font-size: 45px;

}

.boi-projects-row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 80%;
    
    margin-top: 50px;

    border: 1px solid orange;

}

.bio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width:100%;
    height:100%;

    padding-right: 15px;

    border: 1px solid purple;

}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-top: 10px;
    margin-right: 5px;

    border: 1px solid blue;
}

.profile-picture-social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    margin-top: 5px;

    /* border: 1px solid orange; */
}

.social-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-right: 15px;

    border: 1px solid red;
}

.social-nav-icons {
    /* placeholder */
}

#linked-in {
    content: url(icons8-linkedin-circled.svg);
    cursor: pointer;

    width: 65%;
}

#github {
    content: url(icons8-github.svg);
    cursor: pointer;

    width: 65%;
}

#instagram {
    content: url(icons8-instagram.svg);
    cursor: pointer;

    width: 65%;
}

.profile-picture-img {
    display: flex;
    content: url(profile-pic.jpg);

    width: 80%;
    height: 100%;

    margin-right: 10px;
    margin-left: 10px;

}

.bio-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 50%;

    border: 1px solid green;
}

.about-me-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    text-decoration: underline;

    padding-top: 5px;
    padding-left: 10px;

    border: 1px solid yellow;
}

.bio-description-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 65%;

    margin-top: 10px;

    border: 1px solid cyan;
}

.about-me-bio-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 10px;
    margin-bottom: 5px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    border: 1px solid magenta;

}

.project-rows-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 8.5%;
}

.project-rows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 30%;

    margin: 1px;


    border: 1px solid blue;
}

.project-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 100%;

    border: 1px solid red;

}

#minishell-project {
    content: url(minishell-png.jpg);

    width: 75%;
    height: 85%;
}

@media screen and (max-width: 750px) {

    .burger-name-flex-container {
        margin: 0;
    
        /* border: 1px solid blue; */
    }
    .logo {
        display: none;
    }
    .link {
        display: none;
    }
    .burger-name {
        justify-content: flex-start;
        align-items: flex-end;

        font-size: 20px;
    
        width: 80%;
    
        border: 1px solid magenta;
    }
    .burger-container {
    
        /* activate when screen is a certain size */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
        padding-top: 15px;

        height: 50%;
        width: 25%;
    
    
        border: 1px solid black;
    }

    .bio-container {
        height: 100%;
        width: 100%;
        padding-right: 0px;
    }

    .bio-description-container {
    
        height: 100%;
    
        border: 1px solid green;
    }

    .bio-description-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    
        width: 100%;
        height: 100%;

        font-size: 15px;
    
        margin-top: 10px;
    
        border: 1px solid cyan;
    }
    .boi-projects-row-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: 75%;

        margin-top: 15px;
        
        border: 1px solid black;
    }

    .about-me-bio-text {
        font-size: 15px;
    }

    .profile-picture-container {
    
        width: 100%;
        height: auto;
    
        padding-top: 0px;
        margin-right: 0px;
    
        border: 1px solid blue;
    }

    .profile-picture-img {
        margin-left: 0;
        margin-right: 0;
        width: 89%;
    }

    .social-nav-links {
        margin-right: 0px;
    
        border: 1px solid red;
    }
    #linked-in {
        width: 100%;
    }
    
    #github {
        width: 100%;
    }
    
    #instagram {
        width: 100%;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        width: 100%;
        height: 100%;

        margin-top: 15px;
    
        border: 1px solid magenta;
    
    }

}
